<div class="w3-row">
    <div class="w3-half w3-container">
    <h1 class="w3-xxlarge m-lg-3">Bienvenido a la base de datos</h1>
    <h1 class="w3-xxlarge m-lg-3">de <i>hipermercado mayorista</i>:</h1>
    <img class="logo" src="/assets/img/logo-supermercado.png" alt="La Tercera">
    </div>
    <div class="w3-half w3-container w3-xlarge">
    <p class="m-lg-3">Tenemos como objetivo llegar a todos los rincones del país.</p>
    <p class="m-lg-3">Consulte a nuestro correo para conocer los costos de envío para cada provincia.</p>

    </div>
    </div>
    <div class="w3-row">
    <div class="w3-half w3-container">
        <h4>Contamos con una amplia flota de camiones de transporte, que circulan por nuestras rutas nacionales para hacerle llegar la mejor calidad de nuestros productos a su ciudad.</h4>
        <hr>
    <img src="/assets/img/transporte-1.jpg" style="width:100%">
    </div>
    <div class="w3-half w3-container">
    <img src="/assets/img/transporte-2.jpg" style="width:100%">
    <hr>
    <h4>
    Todos los articulos necesarios para el hogar lo encontraras en <i>La Tercera</i>. Accede al apartado <i>Productos</i> para ampliar la lista de productos disponibles y para verificar la ubicacion de cada envío. </h4>
    </div>
    </div>