:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  
span a {
  font-size: 1.2rem;
  filter: drop-shadow(0 0 0.15rem #000000);
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h2 {
    font-size:2rem;
  }

  p {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    padding: 0;
  }

  .toolbar {
    max-height: 15%;
    min-height: 10%;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #FED049;
    color: white;
    font-weight: 600;
    z-index: 1;
  }

  a,
  a:visited,
  a:hover {
    color: #FFF;
    text-decoration: none;
  }

  a:hover {
    color: #3D5656;
    transition: 0.5s ease-in-out;
    padding: 0.5rem;
  }

.footer {
    max-height: fit-content;
    min-height: 10%;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #3D5656;
    flex-direction: column;
    align-content: center;
    z-index: 1;
  }

  @media(max-width:992px){
    .footer{
        flex-direction: row;
        justify-content: space-around;
    }
} 

.fa {
    margin: auto 0.5rem;
}

h2 {
  text-align: center;
}



